 *{
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
/*            overflow-x: hidden;*/



      }
      
      html{
            height: 100%;
            
      }

      

body{
     
     
     min-height: 100%;
     display: flex;
     flex-direction: column;


}

/*      navifation bar*/
      nav
      {
            background-color: black;
            height: 80px;
            width: 100%;
            display: inline-flex;

      }
      label.logo{
            color: white;
            font-size: 35px;
            line-height: 80px;
            padding: 0 80px;
            font-weight: bold;
      }

      nav ul
      {
            float: right;
            margin-right: 20px;
            overflow-y: hidden;
      }

      nav ul li
      {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;

      }

      nav ul li a
      {
            color: white;
            font-size: 17px;
            text-transform: uppercase;
            padding: 7px 13px;
            border-radius: 3px;

      }

       nav ul li a:hover
      {
         background:  white;
         transition: 0.5s;
         color: black;
      }
      nav label a{
            color: white;
      }
      .search-bar
      {
            margin-left: -10px;
         margin-top: 15px;
         height: 50px;
         width: 100%;
         max-width: 385px;
         background: rgba(255, 255, 255, 0.2);
         display: flex;
         align-items: center;
         border-radius: 30px;
         padding: 5px 10px;
         backdrop-filter: blur(4px) saturate(180%);
         overflow-y: hidden;
      }
      .search-bar input{
            background: transparent;
            flex: 1;
            border: 0;
            outline: none;
            padding: 24px 20px;
            font-size: 15px;
            color: #eff5f5;

      }
      ::placeholder
      {
            color: #eff5f5 ;
      }
      .search-bar button img
      {
            width: 18px;

      }
      .search-bar button
      {
            border: 0;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background:hsl(0, 0%, 60%);
            cursor: pointer;
      }
      @media(max-width: 992px){
            nav {
                  height: 160px;

            }
            .search-bar{
                  margin-top: 50px;
                  width: auto;
            }

      }
      @media(max-width: 768px){
            nav {

                  height: 240px;

            }
            .search-bar{
                  margin-top: 80px;
                  width: auto;

            }
            label.logo{
                  margin-top: 50px;
                  padding: none;
                  margin-left: -20px;
            }
            nav ul{
                  float: none;
            }
            nav ul li a{
                  padding: 20px;
            }
            .footerNav ul{
                  flex-direction: column;
            }
             .footerNav ul li{
                  width: 100%;
                  text-align: center;
                  margin: 10px;
             }
            

      }
      @media(max-width: 425px){
            body{
                  overflow-x: hidden;
            }
            nav {

                  height: 450px;
                  width: 100%;

            }
            .search-bar{
                  top: 17%;
                  width: auto;
                  position: absolute;
                  margin-left: 55px;

            }
            label.logo{
                  margin-left: 25px;
                  margin-top: 30px;
                  padding: none;
                  left: 35%;
            }
            nav ul{
                  position: absolute ;
                  margin-top: 70%;
                  left: 15%;

            }
            nav ul li a{
                  padding: 20px;
            }
            #winter-feat-text{
                  width: 100%;
            }





      }


/*      featurs of website*/

      .feat-main-div{

      }

      .d1{
            width: 220px;
            height: 220px;
            float: left;
            border-radius: 5px;
            margin-left: 90px;
            margin-top: 20px;
      }
      .img-div
      {
            height: 100px;
            width: 100px;
            margin-left: 60px;
            margin-top: 10px;

      }
      .featr-img{
            height: 80px;
            width: 80px;
            margin-top: 10px;
            margin-left: 7px;
      }
      #s2,#s4
      {
      
            margin-left: 45px;
            font-size: 20px;
            margin-top: 5px;
            font-weight: bolder;
            text-transform: uppercase;
      }
      #s1,#s3
      {
            margin-left: 35px;
            font-size: 20px;
            margin-top: 5px;
            font-weight: bolder;
            text-transform: uppercase;
      }
      
      .sp1{
            margin-left: 25px;
            margin-right: 10px;
            margin-top: 20px;
            color: gray;
            }

/*            feature*/

      .winter-feat-img-div
      {
            height: 600px;
            float: left;
            width: 400px;
            margin-top: 50px;
            margin-bottom: 50px;
            overflow-y: hidden;
      }
      #winter-feat-text
      {
            height: 600px;
            width: 548px;
            float: left;
            background-color: black;
            margin-top: 50px;
            margin-bottom: 50px;
            

      }
      .winter-feat-img
      {
           height: 600px;
            width: 400px;

      }

      .winter-feat-text-sp
      {
            color: white;
      }
      .winter-feat-text-sp h2{
            margin-top: 80px;
            margin-left: 160px;
            font-weight: bold;
            font-family: Garamond;
            font-size: 30px;
      }
      .winter-feat-text-sp h1{
            font-weight: bolder;
            font-family: Garamond;
            font-size: 50px;
            margin-left: 125px;
      }
      #buy_btn
      {
            font-size: 17px;
            height: 40px;
            width: 120px;
            margin-left: 215px;
            margin-top: 100px;
            font-family: cursive;
            font-weight: bolder;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
      }
      #buy_btn:hover
      {
          transform: scale(1.1);
      }
/*     gallary*/

.gallary-img-div{
      height: 500px;
      width: 350px;
      float: left;
      margin-left:80px;
      margin-bottom: 50px;
      margin-top: 50px;
      
}
.gallary-img-div img{
      height: 500px;
      width: 350px;
      border-radius: 10px;
      

}

.gallary-img-div h1{
      font-family: cursive;
      text-align: center;
}
.gall-shop-txt h4{
      position: absolute;
      top: 0%;
      color: black;
}

       

            /*       footer*/
     footer{
      background-color: black;
            margin-top: auto;    
            margin-top: 50px;
      }

     .footerContainer{
      width: 100%;
      padding: 10px 20px 10px;
     }
     .socialIcons{
      display: flex;
      justify-content: center;
      padding: 10px 10px 10px;
     }

     .socialIcons img{
     background-color: white;
      height: 40px;
      width: 40px;
     }
     .socialIcons a{
      text-decoration: none;
      background: black;
      margin: 10px;
      
     }
     .socialIcons a img{
       
/*      font-size: 2em;*/
      color: black;
      opacity: 0.9;

     }
      .footerContainer p{
      color: white;
      font-size: 30px;
      font-weight: bolder;
      font-family: serif;
      text-align: center;
      padding: 0px 5px 0px    ;
     }

   
   .socialIcons a:hover img{
     filter: invert(100%);     
      transition: 0.5s;
      border-radius: 10px;
      transform: scale(1.1);
   }

   .footerNav ul{
      display: flex;
      justify-content: center;

   }
   .footerNav ul li a{
      color: white;
      margin: 20px;
      text-decoration: none;
      font-size: 1.3em;
      opacity: 0.7;
      transition: 0.5s;
   }
   .footerNav ul li a:hover{
      opacity: 2;
      
   }
   .footerBottom{
      background: #111;
      padding: 20px;
      text-align: center;
   }  
   .footerBottom p{
      color: white;
   }
   .designer{
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px 5px;

   }

/*SHopping section mens womens kids*/


   .shop-img-div{
      height: auto;
      width: auto;
      float: left;
      padding: 35px;
       
   }
   .shop-img-text{
      margin-left: 60px;
      padding: 7px;
      font-size: 20px;

   }
      .img-div{
      height: auto;
      width: auto;
      overflow: hidden;
      border-radius: 10px;
   }
   .shop-product-price{
      font-size: 15px;
      margin-left: 65px;
   }
   .shopp-img{
      height: 450px;
      width: 300px;

   }
   .shopp-img:hover{
      transform: scale(1.05);
      transition: 0.5s;
   }
   